@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 0, 0%, 9%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 240, 2%, 8%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

html {
  --color-backdrop: hsl(0, 0%, 14%);
  @apply scroll-smooth;
}

body {
  @apply text-background h-full overflow-x-hidden bg-primary font-primary tracking-wide md:!overflow-y-auto;
  z-index: -5;
  scroll-behavior: smooth;
  background-image: url('/assets/image/star-bg.webp');
}

/*custom scroll bar*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-zinc-500 bg-opacity-10 text-zinc-400 text-opacity-40;
  border: 0.2px solid currentColor;
}

* {
  box-sizing: border-box;
}

a,
button {
  border-radius: 8px;
  outline-offset: -10px;
}

a:focus-visible,
button:focus-visible {
  @apply outline-dashed outline-2 outline-offset-2 outline-green-400;
  transition: outline-offset 100ms;
}

.m-layout {
  @apply mx-auto max-w-screen-2xl px-4 sm:max-w-screen-sm md:max-w-screen-sm lg:max-w-screen-lg;
}

.m-container {
  @apply mx-auto max-w-screen-sm px-4 sm:max-w-screen-sm md:max-w-screen-sm lg:max-w-screen-xl;
}

.section-header {
  @apply text-xl font-extrabold;
}

.page-header {
  @apply text-3xl font-extrabold;
}

.stroked-text {
  color: white;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

input,
textarea {
  @apply border border-[#555555] bg-[#212121] bg-opacity-50 backdrop-blur-md focus:border-primary focus:outline-0 focus:ring-2 focus:ring-green-400 focus:ring-opacity-40;
}

.before-animate {
  opacity: 0;
  -webkit-transform: translateY(5rem);
  transform: translateY(5rem);
  transition:
    all 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
}

.animated {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
